/* Global styles
----------------------*/ 
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}
h1, h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 30px;
    margin: 0;
}
h3 {
    margin: 0;
}
a {
    color: lightblue;
}
a.hover {
    text-decoration: none;
}
.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: hidden;
}
.btn {
    text-decoration: none;
    background: red;
    color:white;
    padding: 10px;
    display: inline-block;
}
/* Header and Footer
-----------------------*/
header, footer {
    background: #282D42
}
/* Header */
header {
    
    position: relative;
}
.about {
    background: linear-gradient(rgba(40, 45, 66, 0.6), rgba(40, 45, 66, 0.6)),
                url(about1.jpg) no-repeat fixed;
    background-size: cover;
}
header h1, header h2 {
    color: #EDF2F4;
}
.profile-image {
    border-radius: 50%;
}
.download {
    position: absolute;
    right: 0;
    bottom:0;
}
#head-style {
    font-family: 'Open sans condensed';
    color: #EDF2F4;
}
nav {
    background: #5D4954;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 8vh;
    position: relative;
}
.nav-link a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-link {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-link li {
    list-style: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    display: flex;
    justify-self: right;
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

/* Footer */
footer {
    text-align: center;
}

.contact-info a {
    padding: 10px;
    display: inline-block;
}
.contact {
    background: linear-gradient(rgba(40, 45, 66, 0.6), rgba(40, 45, 66, 0.6)),
                url(Contact.jpg) no-repeat fixed;
    background-size: cover;
}
#copyright {
    font-weight: bold;
}
/* Work Experience
------------------------*/
.experience {
    background: linear-gradient(rgba(237, 242, 244, 0.8), rgba(237, 242, 244, 0.5)),
                url(work1.jpg) no-repeat fixed;
    background-size: cover;
}

h3 ~ p {
    margin: 0;
}
.job-description {
    margin-bottom: 25px;
}
.job-description p:first-of-type{
    margin: 0;
}


/*Education
-------------------------*/
.educational {
    background: linear-gradient(rgba(141, 153, 174, 0.6), rgba(141, 153, 174, 0.6)),
                url(education.jpg) no-repeat fixed;
    background-size: cover;
}


/*Media Queries
-------------------------*/
@media (min-width: 900px) {
    .col-narrow {
        width: 30%;
        float: left;
    }
    .col-wide {
        width: 70%;
        float: left;
        padding-left: 20px;
    }
}
@media(max-width: 899px) {
    header {
        text-align: center;
    }
    .profile-image {
        width: 200px;
    }
    .download {
        position: absolute;
        right: 0;
        bottom:0;
    }
}

@media screen and (max-width:1024px) {
    .nav-link {
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
   .nav-link{
       position: absolute;
       right: 0px;
       height: 92vh;
       top: 5vh;
       background-color: #5D4954;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 50%;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
   }
   .nav-link li {
       opacity: 0;

   }
   .burger {
       display: block;
       position: fixed;
       right: 0;
   }
}

.nav-active {
    transform:translateX(0%)
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}